//! **************************************************************************
// Written by: Map J.33 on Thu Nov 05 12:16:09 2009
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
